body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slider-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.slider-container label {
    display: block;
    margin-bottom: 5px;
}

canvas {
    display: block;
}
